@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lato&family=Roboto+Mono:ital,wght@1,200&family=Shalimar&family=Source+Sans+Pro:wght@200&display=swap');

:root{
    --colorgradiente2: #FF7676;
    --pink2: #F292A4;
    --pinkdark:#c95a70;
    --gradiente1: linear-gradient(var(--colorgradiente2),var(--pink2), transparent);
    --pinkLight:#ffd8f3;
    --font-family-sans-serif: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
label{
    padding: 10px;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}
.form-control{
    background-color: var(--Light);
    
}
input:disabled{
 
    background-color: #c95a70;
    box-shadow: #c95a70;
}


body {
    color: #404040;
    font-family: var(--font-family-sans-serif)
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    justify-content: center;
    background: var(--gradiente1);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    position: relative;
    top:1rem;
    height: 17rem;
    /*background-image: linear-gradient(45deg, #BC3CFF, #317FFF);*/
    background-image: url('../img/imagenPrueba.jpeg');
    border-radius: 0 0 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 6rem;
    right: 1rem;
    border: 0;
    border-radius: 10px;
    padding: 12px 25px;
    background-color: rgba(167, 2, 79, 0.473);
    color: #fff;
    font-weight: lighter;
    cursor: pointer;
}

.perfil-usuario-portada {
    
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-imagen {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px double var(--colorgradiente2);
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -60px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-imagen img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-imagen .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .usuario {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-datos,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px var(--pink2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.menu-perfil ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    

}
.menu-perfil ul li {
    margin: 1.5em;

}
.menu-perfil a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 8px;

}
.menu-perfil a:hover {
    background-color: var(--pink2);
    color: #fff;
}



/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario  {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        margin-top: 0;
    }

  
}